@import "@sakun/system.css/style.css";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.selected {
  outline: 1px dashed rgba(0, 0, 0, 0.5);
  outline-offset: 4px;
}
