<!-- navbar -->
<app-menu></app-menu>
<!-- Winamp injects css and i dont really now know to intercept that so its at the top :) -->
<winamp></winamp>
<div
  *ngIf="!isMobileRes()"
  class="w-full h-full overflow-hidden desktop-bounds"
>
  <!-- Selectable area -->
  <!-- The selectable area does not play nice w/ the drag library, conly ever marks as selected at intial location. -->
  <dts-select-container
    class="w-full h-full absolute top-0 left-0 overflow-hidden"
    #container="dts-select-container"
    [(selectedItems)]="selectedApplets"
    [disabled]="appletIsMoving"
  >
    <div
      dir="rtl"
      class="flex flex-col flex-wrap gap-10 max-h-full absolute top-5 right-5 items-center"
    >
      <div
        *ngFor="let applet of appletInputs"
        [dtsSelectItem]="applet"
        cdkDragBoundary=".desktop-bounds"
        cdkDrag
      >
        <ng-container
          #applet
          *ngComponentOutlet="
            AppletComponent;
            inputs: applet;
            injector: injector
          "
        ></ng-container>
      </div>
    </div>
  </dts-select-container>
</div>
