<!-- navbar -->
<app-menu></app-menu>
<!-- Winamp injects css and i dont really now know to intercept that so its at the top :) -->
<winamp></winamp>
<div class="w-full h-full overflow-hidden desktop-bounds">
  <!-- Selectable area -->
  <!-- The selectable area does not play nice w/ the drag library, conly ever marks as selected at intial location. -->
  <dts-select-container
    class="w-full h-full absolute top-0 left-0 overflow-hidden"
    #container="dts-select-container"
    [(selectedItems)]="selectedApplets"
    [disabled]="appletIsMoving"
  >
    <div class="grid gap-10 h-max absolute top-5 right-5 justify-items-center">
      <div
        *ngFor="let applet of appletInputs"
        [dtsSelectItem]="applet"
        cdkDragBoundary=".desktop-bounds"
        cdkDrag
      >
        <ng-container
          #applet
          *ngComponentOutlet="
            AppletComponent;
            inputs: applet;
            injector: injector
          "
        ></ng-container>
      </div>
    </div>
  </dts-select-container>
  <!-- Desktop Icons -->
  <!-- <div class="grid gap-10 h-max absolute top-15 right-5 justify-items-center">
        <div *ngFor="let applet of appletInputs" [dtsSelectItem]="applet" cdkDragBoundary=".desktop-bounds" cdkDrag>
            <ng-container *ngComponentOutlet="AppletComponent; inputs: applet"></ng-container>
        </div>
    </div> -->
  <!-- Windows -->
  <app-window></app-window>
</div>
