<div class="w-fit h-fit grid justify-items-center hover:invert">
  <div [ngSwitch]="selector" cdkDragHandle>
    <button
      *ngSwitchCase="Feature.Winamp"
      class="cursor-pointer"
      (dblclick)="openWinamp()"
      (touchend)="openWinamp()"
      (mousedown)="setMoving()"
      (mouseup)="unsetMoving()"
    >
      <img src="{{ getIcon() }}" />
    </button>
    <button
      *ngSwitchCase="Feature.Station"
      class="cursor-pointer"
      (dblclick)="playRadio()"
      (touchend)="playRadio()"
      (mousedown)="setMoving()"
      (mouseup)="unsetMoving()"
    >
      <img src="{{ getIcon() }}" />
    </button>
    <button
      title="{{ getAmbienceName() }}"
      *ngSwitchCase="Feature.Ambience"
      class="cursor-pointer"
      (dblclick)="toggleAmbience()"
      (touchend)="toggleAmbience()"
      (mousedown)="setMoving()"
      (mouseup)="unsetMoving()"
    >
      <img src="{{ getIcon() }}" />
    </button>
    <button
      *ngSwitchCase="Feature.Weather"
      class="cursor-pointer"
      (dblclick)="openWindowComponent()"
      (touchend)="openWindowComponent()"
      (mousedown)="setMoving()"
      (mouseup)="unsetMoving()"
    >
      <img src="{{ getIcon() }}" />
    </button>
    <button
      *ngSwitchDefault
      class="cursor-pointer"
      (dblclick)="openWindowComponent()"
      (touchend)="openWindowComponent()"
      (mousedown)="setMoving()"
      (mouseup)="unsetMoving()"
    >
      <img src="{{ getIcon() }}" />
    </button>
  </div>
  <div class="mt-1 bg-white">{{ title }}</div>
</div>
