.dts-no-select {
  user-select: none;
}

.dts-select-box {
  border: 1px solid currentColor;
  contain: layout;
  transform: translateZ(0);
  box-sizing: border-box;
  color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}
.dts-select-box.dts-removing {
  border: 1px solid #000000;
}

.dts-select-container:not(.dts-custom) .dts-select-item.selected {
  /* border: 1px solid #d2d2d2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  /* filter: invert(1) */
  /* width: 100%;
  height: 100%; */
}
.dts-select-container:not(.dts-custom) .dts-select-item.dts-range-start {
  /* filter: invert(1) */
  /* border: 1px solid #2196f3; */
  /* filter: inver(1) */
  /* width: 100%;
  height: 100%; */
}
