@import "@sakun/system.css/dist/system.css";

#surfer {
  font-family: "Chicago";
  container-type: inline-size;
  width: min(480px, 90vw);
  aspect-ratio: 480 / 581;
}

#video-container {
  margin-top: 20%;
  padding-inline: 14%;
}

#video-offline-container {
  margin-top: 20%;
  padding-inline: 14%;
}

#surf-button-container {
  padding-top: 98%;
  padding-left: 7%;
  font-size: 2.5cqw;
}

#surf-info-container {
  width: 50%;
  height: 4%;
  margin-top: 94%;
  margin-left: 45%;
  font-size: 4cqw;
}

::ng-deep .om-marquee-content {
  padding: unset !important;
}
