<div
  class="window absolute"
  [ngClass]="[
    isActive ? 'z-5' : 'z-0',
    shape === 'text' ? 'w-[min(25%,90vw)] resize' : 'max-w-[90vw]'
  ]"
  [style.height]="shape === 'text' ? height : null"
  cdkDragBoundary=".desktop-bounds"
  cdkDrag
>
  <div
    [ngClass]="isActive ? 'title-bar' : 'inactive-title-bar'"
    cdkDragHandle
    (mousedown)="onActivate.emit()"
  >
    <button aria-label="Close" class="close" (click)="onClose.emit()"></button>
    <h1 class="title">{{ title }}</h1>
    <button aria-label="Resize" class="resize hidden"></button>
  </div>
  <div class="separator"></div>
  <div class="window-pane text-sm" [ngClass]="shape === 'embed' ? '!p-px' : ''">
    <ng-container *ngComponentOutlet="content" />
  </div>
</div>
