<div [ngSwitch]="selector">
  <div
    *ngSwitchCase="AppletTypes.About"
    class="window absolute top-20 left-200 w-1/4 h-1/2 resize"
    [ngClass]="isActive() ? 'z-5' : 'z-0'"
    cdkDragBoundary=".desktop-bounds"
    cdkDrag
  >
    <div
      [ngClass]="isActive() ? 'title-bar' : 'inactive-title-bar'"
      cdkDragHandle
      (mousedown)="setActive()"
    >
      <button aria-label="Close" class="close" (click)="close()"></button>
      <h1 class="title">{{ AppletTypes[selector] }}</h1>
      <button aria-label="Resize" class="resize hidden"></button>
    </div>
    <div class="separator"></div>
    <div class="window-pane text-sm overflow-y:scroll relative">
      <div *ngSwitchCase="AppletTypes.About" class="text-justify text-base">
        {{ $any(windowContent).msg }}
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="AppletTypes.Visualizer"
    class="window absolute top-35 left-55"
    [ngClass]="isActive() ? 'z-5' : 'z-0'"
    cdkDragBoundary=".desktop-bounds"
    cdkDrag
  >
    <div
      [ngClass]="isActive() ? 'title-bar' : 'inactive-title-bar'"
      cdkDragHandle
      (mousedown)="setActive()"
    >
      <button aria-label="Close" class="close" (click)="close()"></button>
      <h1 class="title">{{ AppletTypes[selector] }}</h1>
      <button aria-label="Resize" class="resize hidden"></button>
    </div>
    <div class="separator"></div>
    <div class="window-pane text-sm !p-px">
      <lib-x86-surfer-component></lib-x86-surfer-component>
    </div>
  </div>
  <div
    *ngSwitchCase="AppletTypes.Annoucements"
    class="window absolute top-10 w-1/4 h-3/4 resize"
    [ngClass]="isActive() ? 'z-5' : 'z-0'"
    cdkDragBoundary=".desktop-bounds"
    cdkDrag
  >
    <div
      [ngClass]="isActive() ? 'title-bar' : 'inactive-title-bar'"
      cdkDragHandle
      (mousedown)="setActive()"
    >
      <button aria-label="Close" class="close" (click)="close()"></button>
      <h1 class="title">{{ AppletTypes[selector] }}</h1>
      <button aria-label="Resize" class="resize hidden"></button>
    </div>
    <div class="separator"></div>
    <div class="window-pane text-sm overflow-y:scroll relative">
      <div class="grid divide-y-2 pb-4">
        <div class="mt-4 pb-4" *ngFor="let annoucement of $any(windowContent)">
          <div class="flex justify-between items-end mb-2">
            <div class="font-bold">{{ annoucement.title }}</div>
            <div class="italic text-base">{{ annoucement.date }}</div>
          </div>
          <div class="text-base text-justify">{{ annoucement.msg }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
