@import "tailwindcss";

@font-face {
    font-family: 'Chicago';
    src: url('assets/fonts/ChicagoFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sys-color-white: #FFFFFF;
    --sys-color-black: #000000;
  
    --primary: var(--sys-color-white);
    --secondary: var(--sys-color-black);
    font-family: 'Chicago';
}

body {
    background: linear-gradient(90deg, var(--primary) 21px, transparent 1%) center, linear-gradient(var(--primary) 21px, transparent 1%) center, var(--secondary);
    background-size: 22px 22px;
    background-attachment: fixed;
}