<ul role="menu-bar" class="border-b">
    <li role="menu-item" tabindex="0" aria-haspopup="true">
      File
      <ul role="menu">
        <li role="menu-item"><a href="#menu">Action</a></li>
        <li role="menu-item"><a href="#menu">Another Action</a></li>
        <li role="menu-item" class="divider"><a href="#menu">Something else here</a></li>
        <li role="menu-item"><a href="https://twitter.com/sakofchit">sakun's twitter</a></li>
      </ul>
    </li>
    <li role="menu-item" tabindex="0" aria-haspopup="true">
      Edit
      <ul role="menu">
        <li role="menu-item"><a href="#menu">Action</a></li>
        <li role="menu-item"><a href="#menu">Another Action</a></li>
        <li role="menu-item" class="divider"><a href="#menu">Something else here</a></li>
        <li role="menu-item"><a href="https://sakun.co">sakun's projects</a></li>
      </ul>
    </li>
    <li role="menu-item" tabindex="0" aria-haspopup="true">
      View
      <ul role="menu">
        <li role="menu-item"><a href="#menu">Action</a></li>
        <li role="menu-item"><a href="#menu">Another Action</a></li>
        <li role="menu-item"><a href="#menu">Something else here</a></li>
      </ul>
    </li>
    <li role="menu-item" tabindex="0" aria-haspopup="true">
      Special
      <ul role="menu">
        <li role="menu-item"><a href="#menu">You</a></li>
        <li role="menu-item"><a href="#menu">Get the</a></li>
        <li role="menu-item"><a href="#menu">Idea</a></li>
      </ul>
    </li>
</ul>
